@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'roboto';
    src: url('./assets/fonts/RobotoRegular.ttf');
}

@font-face {
    font-family: 'poppins';
    src: url('./assets/fonts/PoppinsRegular.ttf');
}

@font-face {
    font-family: 'onest';
    src: url('./assets/fonts/OnestRegular.ttf');
}

* {
    font-family: 'onest', fantasy;
    font-size: 18px;
    color: white;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
}

hr {
    background-color: #374151;
    height: 1px;
    border: none;
}

.text-light {
    color: #D1D5DB
}

.background-gradient {
    background-color: rgb(3 7 18);
    background-image: radial-gradient(
        ellipse 80% 80% at 50% -20%,
        rgba(120,119,198,0.3),
        rgba(255,255,255,0)
    );
}

.strong-style {
    color: #FEF08A;
}

.react-flow__panel {
    display: none;
}

.react-flow__node:hover {
    box-shadow: #FEF08A 0px 0px 10px;
}

.react-flow__node-diferent {
    border-radius: 50%;
}

.react-flow__node-diferent > * {
    color: black;
}